<div class ="row">
    <div class ="column">
        <div id= "header">
    I'm Jeremy Schimmel. I live in Sacramento, California with my beautiful wife and daughter. 
<br><br>
    I was born and raised in Northern California. I've had a love for technology since my very first Apple Macintosh computer.
    I'm a big sports fan with a special affinity for baseball and the San Francisco Giants. I also love to travel, watch movies, and spend time with my family.
<br><br>
    I'm a Full-Stack Web Developer who graduated as a Certified Software Engineer from Bethel School of Technology, powered by Woz-U.<br>
    I am proficient in:<br>
    <ul>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
    I also have an understanding of back-end and database frameworks, such as Node, Express, and SQL.<br>
    I have a high attention to detail, I'm a great problem solver, and I love being creative.
        </div>
    </div>
        <div class ="column">
            <img src='/assets/images/family.jpg'>
        </div>
</div>